body {
	background-color: rgb(238,238,238);
	margin: 5px;
}
img {
	width:1264px;
	margin-top: 33px;
	position:relative;
}
h1 {
	font-size:25px;
	color: rgb(75,73,79);
	top:-3%;
	left:5%;
	position: absolute;
}
.question {
	margin-top:9px;
}
h4 {
	text-indent: 43%;
	font-size: 30px;
	color: rgb(75,73,79)
}

pre {
	text-align: center;
	color: rgb(75,73,79);
}
.container {
	border: 1px solid black;
}